body, html {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #454411;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    background-color: #fff;
    border-bottom: 1px solid #D7DCA2;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* 헤더를 다른 요소들 위에 두기 위한 z-index 설정 */
}

#headerArea {
    width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#headerLeft {
    display: flex;
    align-items: center;
    margin-right: 4px;
}

#logo {
    height: 52px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #454411;
    font-weight: bold;
    font-size: 16px;
    display: block;
}

nav a:hover {
    text-decoration: none;
}

#loginbtn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid #D7DCA2;
    border-radius: 50px;
    background-color: white;
}

#loginbtn a {
    color: #454411;
    text-decoration: none;
}

.content {
    width: 100%;
    margin-top: 100px;
    height: calc(100vh - 100px);
    padding: 20px;
    position: fixed;
    bottom: 0;

    font-size: 24px;
    font-weight: 700;
    color:#fff;
}

.top{
    width: 100%;
    height: 500px;
    background-color: #D7DCA2;
}

.bottom{
    width: 100%;
    height: 200px;
    background-color: #AD8E62;
}

.top img.cloud1{
    position: absolute;
    top: 30px;
    left: 500px;
}

.top img.cloud2{
    transform: scaleX(-1);
    position: absolute;
    top: 150px;
    left: 900px;
}

.top img.tree1{
    position: absolute;
    top: 352px;
    left: 700px;
}
.top img.tree2{
    position: absolute;
    top: 352px;
    left: 700px;
    display: none;
}
.top img.tree3{
    position: absolute;
    top: 330px;
    left: 700px;
    display: none;
}
.top img.tree4{
    position: absolute;
    top: 330px;
    left: 700px;
    display: none;
}

#waterbtn {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: none;

    position: absolute;
    top: 420px;
    left: 450px;
}
.top .water {
    position: absolute;
    top: 448px;
    left: 477px;
    z-index: 1;
}

#splashbtn {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: none;

    position: absolute;
    top: 420px;
    left: 940px;
}

.top .splash {
    position: absolute;
    top: 448px;
    left: 966px;
    z-index: 1;
}

#put {
    position: absolute;
    top: 590px;
    left: 970px;
}

#get {
    position: absolute;
    top: 590px;
    left: 475px;
}

#text {
    position: absolute;
    top: 260px;
    left: 650px;
}

#putCount {
    padding-top: 105px;
    padding-left: 975px;
}

#getCount {
    padding-top: 105px;
    padding-left: 430px;
}